[Unit]
Description=sausage-store
After=network.target

[Service]
User={{ backend_service_user }}

Restart=always

Environment=REPORT_PATH={{backend_report_directory}}/htdocs
#StandardOutput=file:{{ backend_report_directory }}/out.log
ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java -jar {{ backend_lib_directory }}/sausage-store-{{ backend_maven_version }}.jar

[Install]
WantedBy=multi-user.target
