[Unit]
Description=sausage-store-frontend.service
#

[Service]
User={{frontend_service_user}}
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory={{frontend_lib_directory}}/{{frontend_name_package}}/public_html/
EnvironmentFile=LOG_PATH={{frontend_report_directory}}/out-front.log
#StandardOutput=file:/logs/out-front.log
ExecStart=/usr/bin/http-server -p 443 --proxy http://localhost:8080
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
